click==8.0.3
colorama==0.4.4
Flask==2.0.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pytube @ git+https://github.com/baxterisme/pytube@e50bb734308dda27f2519345bbe6d9e84442a18f
Werkzeug==2.0.2
